html {
  background-color: rgba(245,255,245,1);
  background-image: url("./background/150sq/background_transparent.png");
  background-repeat: repeat;
  background-size: contain;
}

body {
  
}

.container {
  display: block;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.75);
  //box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.5);
  min-width: 480px;
  max-width: 100%;
  margin: auto;
}

header {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.75);
  text-align: left;
  min-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
}

.headerTitle {
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 300px;
  width: 100%;
  top: -50px;
  left: 0;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: white;
  font-family: "Open Sans", sans-serif;

}

.headerText {
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 15px;
  left: 0;
  font-size: 1rem;
  margin-bottom: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);

}

.headerText a
{
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);
}

.headerText a:active
{
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);
}

.headerText a:visited
{
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);
}

.headerImg {
  width: 100%;
  height: 100%;
  //max-height: 30vh;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 50%;
  top: 0;
  left: 0;
}

.mainContent {

  justify-items: center;
  justify-content: center;
  align-items: center
  align-content: center;
  width: clamp(480px, 100%, 7680);

}

/*
.vertspacer {
  height: 6px;
}
*/

.navbar {

  display: flex;
  background-color: rgb(0, 0, 0, 0.75);
  height: 100px;
  // border-style: double;

}

.expandbar {

  display: flex;
  align-items: center;
  float: left
  white-space: nowrap;
  margin-right: auto;

}

.expandNavBar {
  display: grid;
  grid-template-columns: repeat(2,1fr); // limit in smaller screens
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(0, 0, 0, 0.90);
  height: 100px;
  // border-style: double;
  position:absolute;
  width: 97%;
  height: 200px;
  top: 107px;
  left: 1.5%;
}

.expandButton:hover{
  // box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.5);
  cursor:pointer;
}

.homebar {

  display: flex;
  align-items: center;
  margin-right: auto;
  //height: 85%;

}

.menubar {
  display: flex;
  align-items: center;
  //height: 85%;
}

.navButton {

  display: flex;
  text-align: center;
  color: rgba(255,255,255,1);
  padding: 10px 10px;
  //height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vh;
  vertical-align: middle;
  margin-left: 1vh;
  margin-right: 1vh;

}

.navButton:hover {
  // box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.5);
  cursor:pointer;
}

.newsSec {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  //gap: 5px;
  margin-top: 1vh;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-auto-rows: min-content;
  grid-row-gap: 1vh;
}

.newsTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 3vh;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
  padding: 0px 0px 5px 5px;
  margin:0px;
}

a:link {
  text-decoration: none;
  color: rgba(0, 111, 17, 1)
}

a:visited {
  text-decoration: none;
  color: rgba(0, 111, 17, 1)
}

.newsDate {
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
  padding: 0px 0px 5px 5px;
  margin:0px;
}

.newsDetail {
  border-top: 1px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
  padding: 0px 0px 5px 5px;
  margin:0px;
}

.deckSec {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  // grid-template-rows: minmax(300px, 500px) minmax(300px, 500px) minmax(300px, 500px);
  gap: 10px;
  margin-top: 20px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  // grid-auto-columns: minmax(100px, 300px);
  grid-auto-rows: 300px;
  //grid-row-gap: 2vh;
  width: 100%;
}

.contCardTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
  padding: 0px 0px 5px 5px;
  margin:0px;
}

img {
  width: 100%;
  height: auto;
}

.contCard {
  background-color: rgba(255,255,255,1);
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 3fr; 
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  width: 99%;
  border-style: solid;
}

.slideCard {
  background-color: rgba(255,255,255,1);
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 2fr 3fr; 
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  width: 99%;
  height: 100%;
  border-style: solid;
}

.newsCard {
  background-color: rgba(255,255,255,0.75);
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 1fr 3fr; 
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  width: 99%;
  height: 250px;
  border-style: solid;
}

.contCardImg {
  grid-row: 1 / span 2;
  grid-column: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slideCardImg {
  grid-row: 1 / span 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.embedSlide {
  width: 100%;
  object-fit: cover;
}

.slideImg {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.numbertext {
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-family: "Open Sans", sans-serif;
}

.slideCaption {
  margin-top:-2px;
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-family: "Open Sans", sans-serif;
}

.newsImg {
  grid-row: 1 / span 3;
  grid-column: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photoSec {
  display: grid;
  margin: 20px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  // grid-auto-columns: minmax(100px, 300px);
  //grid-row-gap: 2vh;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
}

.photoCard {
  background-color: rgba(255,255,255,1);
  display: block;
  width:99%;
  height:100%;
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  border-style: solid;
}

.photoImg {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.photoCaption {
  display: flex;
  background-color: rgb(0, 0, 0, 0.90);
  color: white;
  height: 25px;
  position: relative;
  bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vh;
  vertical-align: middle;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: justify;
  color: #000000;
  padding: 5px 5px 5px 5px;
  border-top: 1px solid #000000;
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
  // background-color: rgba(24,95,69,1);
  margin-left: 1.5%;
  text-align: left;
  min-width: 500px;
  margin-top: 2%;
  padding-bottom: 0.1%;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .deckSec {
    display: grid;
    grid-template-columns: repeat(2,1fr); // limit in smaller screens
    // grid-template-rows: minmax(300px, 500px) minmax(300px, 500px) minmax(300px, 500px);
    gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    // grid-auto-columns: minmax(100px, 300px);
    grid-auto-rows: minmax(100px, 300px);
    //grid-row-gap: 2vh;
  }

  .photoSec {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .deckSec {
    display: grid;
    grid-template-columns: repeat(1,1fr); // limit in smaller screens
    // grid-template-rows: minmax(300px, 500px) minmax(300px, 500px) minmax(300px, 500px);
    gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    // grid-auto-columns: minmax(100px, 300px);
    grid-auto-rows: minmax(100px, 300px);
    //grid-row-gap: 2vh;
  }

  .photoSec {
    grid-template-columns: repeat(1, 1fr);
  }
}