html {
  background-color: rgba(245,255,245,1);
  background-image: url("./background/150sq/background_transparent.png");
  background-repeat: repeat;
  background-size: contain;
}

body {
  
}

.container {
  display: block;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.75);
  min-width: 100%;
  max-width: 100%;
  margin: auto;
}

header {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.75);
  text-align: left;
  min-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: 31.25vh;
}

.headerTitle {
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 31.25vh;
  width: 100%;
  top: -5vh;
  left: 0;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: white;
  font-family: "Open Sans", sans-serif;

}

.headerText {
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 31.25vh;
  top: 2vh;
  left: 0;
  font-size: 1rem;
  margin-bottom: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);

}

a:link {
  text-decoration: none;
  color: rgba(0, 111, 17, 1)
}

a:visited {
  text-decoration: none;
  color: rgba(0, 111, 17, 1)
}

.headerText a:link
{
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);
}

.headerText a:active
{
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);
}

.headerText a:visited
{
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,1);
}

.headerImg {
  width: 100%;
  height: 100%;
  //max-height: 30vh;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 50%;
  top: 0;
  left: 0;
}

.mainContent {
  justify-items: center;
  justify-content: center;
  align-items: center
  align-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  background-color: rgb(0, 0, 0, 0.75);
  height: 10vh;
  // border-style: double;
}

.expandbar {

  display: flex;
  align-items: center;
  float: left
  white-space: nowrap;
  margin-right: auto;

}

.expandNavBar {
  display: grid;
  grid-template-columns: repeat(2,1fr); // limit in smaller screens
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(0, 0, 0, 0.90);
  height: 25vh;
  // border-style: double;
  position:absolute;
  width: 97%;
  top: 7.25vh;
  left: 1.5%;
}

.expandButton:hover{
  cursor:pointer;
}

.homebar {

  display: flex;
  align-items: center;
  margin-right: auto;
  //height: 85%;

}

.menubar {
  display: flex;
  align-items: center;
  //height: 85%;
}

.navButton {
  display: flex;
  text-align: center;
  color: rgba(255,255,255,1);
  padding: 1vh 1vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 1vh;
  margin-right: 1vh;
}

.navButton:hover {
  cursor:pointer;
}

.newsSec {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin-top: 1vh;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-auto-rows: min-content;
  grid-row-gap: 1vh;
}

.newsCard {
  background-color: rgba(255,255,255,0.75);
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 1fr 3fr; 
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  width: 99%;
  height: 30vh;
  border-style: solid;
}

.newsImg {
  grid-row: 1 / span 3;
  grid-column: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-right: 1px solid #000000;
}

.newsTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1vh;
  text-align: left;
  color: #000000;
  padding: 0vh 0vh 1vh 1vh;
  margin: 0vh;
}

.newsDate {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1vh;
  text-align: left;
  color: #000000;
  padding: 0vh 0vh 1vh 1vh;
  margin: 0vh;
}

.newsDetail {
  border-top: 1px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1vh;
  text-align: left;
  color: #000000;
  padding: 0vh 0vh 1vh 1vh;
  margin: 0vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.deckSec {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3vh;
  margin-top: 2vh;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-auto-rows: 31.375vh;
  width: 100%;
}

.contCardTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1vh;
  text-align: left;
  color: #000000;
  padding: 0vh 0vh 1vh 1vh;
  margin: 0vh;
}

img {
  width: 100%;
  height: auto;
}

.contCard {
  background-color: rgba(255,255,255,1);
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 3fr; 
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  width: 99%;
  border-style: solid;
}

.slideCard {
  background-color: rgba(255,255,255,1);
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 2fr 3fr; 
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  width: 99%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
}

.contCardImg {
  grid-row: 1 / span 2;
  grid-column: 1;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-right: 1px solid #000000;
}

.slideshow-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.slideCardImg {
  grid-row: 1 / span 2;
  grid-column: 2;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.embedSlide {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.slideImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.numbertext {
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-family: "Open Sans", sans-serif;
}

.slideCaption {
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-family: "Open Sans", sans-serif;
}

.photoSec {
  display: grid;
  margin: 20px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-gap: 2vh;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 45vh;
  grid-auto-flow: dense;
}

.photoCard {
  background-color: rgba(255,255,255,1);
  display: block;
  width:99%;
  height:100%;
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
  border-style: solid;
}

.photoImg {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.photoCaption {
  display: flex;
  background-color: rgb(0, 0, 0, 0.90);
  color: white;
  height: 2.5vh;
  position: relative;
  bottom: 2.5vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  vertical-align: middle;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1vh;
  text-align: justify;
  color: #000000;
  padding: 0.5vh 0.5vh 0.5vh 0.5vh;
  border-top: 1px solid #000000;
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
  // background-color: rgba(24,95,69,1);
  margin-left: 1.5%;
  text-align: left;
  min-width: 50vh;
  margin-top: 2%;
  padding-bottom: 0.1%;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .deckSec {
    display: grid;
    grid-template-columns: repeat(2,1fr); // limit in smaller screens
    gap: 1vh;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-rows: 31.375vh;
  }

  .photoSec {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar {
    height: 15vh;
  }
}

@media only screen and (max-width: 1000px) {
  .deckSec {
    display: grid;
    grid-template-columns: repeat(1,1fr); // limit in smaller screens
    gap: 1vh;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-rows: 31.375vh;
  }

  .photoSec {
    grid-template-columns: repeat(1, 1fr);
  }

  .navbar {
    height: 15vh;
  }

  .newsTitle {
    font-size: 1.25rem;
  }

  .newsDate {
    font-size: 1rem;
  }

  .newsDetail {
    font-size: 1rem;
  }
  
  .navButton {
    display: flex;
    text-align: center;
    color: rgba(255,255,255,1);
    padding: 1vh 1vh;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 1vh;
    margin-right: 1vh;
  }
}